@tailwind base;
@tailwind components;
@tailwind utilities;

/* Dark Mode */
html {
  transition: background-color 0.3s, color 0.3s;
}



/* Tailwind base styles
@tailwind base;
@tailwind components;
@tailwind utilities; */

/* Custom global styles (optional) */
/* body {
  font-family: 'Arial', sans-serif;
  background-color: #f5f5f5;
}

h1, h2, h3, h4 {
  font-weight: bold;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
} */
